<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="ArduinoDesigner-201912" sequenceNumber="1579272800">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.sdk" version="0.0.0"/>
      <unit id="org.eclipse.epp.mpc.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mapping.ecore.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ui" version="0.0.0"/>
      <unit id="org.eclipse.ui.browser" version="0.0.0"/>
      <unit id="org.eclipse.ui.intro.universal" version="0.0.0"/>
      <unit id="org.eclipse.ui.workbench" version="0.0.0"/>
      <unit id="org.eclipse.ui.ide" version="0.0.0"/>
      <unit id="org.eclipse.ui.views" version="0.0.0"/>
      <unit id="org.eclipse.equinox.common" version="0.0.0"/>
      <unit id="org.eclipse.equinox.app" version="0.0.0"/>
      <unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.ds" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.launcher" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.rcp.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.extras.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.ui" version="0.0.0"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.server.core.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.server.jetty.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.server.p2.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.serverside.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.simpleconfigurator" version="0.0.0"/>
      <unit id="org.apache.batik.css" version="0.0.0"/>
      <unit id="org.junit" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/2019-12/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.amalgam.discovery.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/modeling/amalgam/updates/releases/1.7.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="0.0.0"/>
      <unit id="org.hamcrest.core" version="0.0.0"/>
      <unit id="org.hamcrest.library" version="0.0.0"/>
      <unit id="org.apache.log4j" version="0.0.0"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20191126223242/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.runtime.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/acceleo/updates/releases/3.7/R201911060712"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.aql.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.interpreter.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.eef.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.tests.support.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.diagram.sirius.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.egit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.feature.group" version="0.0.0"/>
      <unit id="fr.obeo.dsl.designer.ce.feature.feature.group" version="0.0.0"/>
      <repository location="http://www.obeo.fr/download/release/designer/11.3/community/latest/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="fr.obeo.dsl.debug.feature.feature.group" version="0.0.0"/>
      <unit id="fr.obeo.dsl.debug.sirius.ui.feature.feature.group" version="0.0.0"/>
      <unit id="fr.obeo.dsl.debug.ui.feature.feature.group" version="0.0.0"/>
      <repository location="http://gemoc.org/updatesite/studio"/>
    </location>
  </locations>
</target>
